# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Data and model files
*.pth
*.h5
*.ckpt
*.npz
*.npy

# OS files
.DS_Store
Thumbs.db

# Output folders
augmented_data/
dino_masks/
pre_segmented_results/

# Environment files
.env
.venv

# Logs
*.log
